;; see the sample file jmh.edn for more examples:
;; https://github.com/jgpc42/jmh-clojure/blob/master/resources/sample.jmh.edn
;; also refer to the Java example files for more documentation
;; http://hg.openjdk.java.net/code-tools/jmh/file/default/jmh-samples/src/main/java/org/openjdk/jmh/samples/


{:benchmarks
 [{:name :process-generation
   :fn clojush.bench.helpers/process-generation-deserialize
   :args [:state/process-generation-input]
   :apply true
   :options [{:mode :single-shot
              :warmup 1
              :measurement 2
              :threads 1
              :fork 3
              :output-time-unit :s}]}
  {:name :eval-push
   :fn clojush.interpreter/eval-push
   :args [:state/eval-push-input]
   :apply true
   :options [{:mode :single-shot
              :warmup
              {:count 100
               :iterations 50}
              :measurement
              {:count 100
               :iterations 50}
              :threads 20
              :fork 3
              :output-time-unit :ms}]}
  {:name :execute-instruction
   :fn clojush.interpreter/execute-instruction
   :args [:state/execute-instruction-input]
   :apply true
   :options [{:mode :single-shot
              :warmup
              {:count 10000
               :iterations 50}
              :measurement
              {:count 10000
               :iterations 50}
              :threads 20
              :fork 3
              :output-time-unit :ms}]}]
 :states
 {:process-generation-input
  {:scope :benchmark
   :trial {:fn clojush.bench.helpers/->process-generation-input
           :args [:param/process-generation-input-id]}}
  :eval-push-input
  {:scope :benchmark
   :trial {:fn clojush.bench.helpers/->eval-push-input
           :args [:param/eval-push-input-id]}}
  :execute-instruction-input
  {:scope :benchmark
   :trial {:fn clojush.bench.helpers/->execute-instruction-input
           :args [:param/execute-instruction-input-id]}}}
 :params
 {:eval-push-input-id
  ["1369-09420c81-0e78-4322-8823-2c5d14c4ac3b"
   "28-f1c99415-90ee-4b77-aa79-0a7c87162c8c"
   "1045-922d31ff-fe14-454c-831e-e8ca9ada0e02"
   "2391-26d2d62a-fa34-4d4d-9fb8-ea1b14d530fc"
   "4250-bb5ac8bc-586e-49ab-8e8c-069f17934949"]
  :process-generation-input-id
  ["3714-33fc8276-c3d3-4405-931b-4f087df5a415"
   "1085-c785a344-19ed-45cc-9972-8042e2618079"
   "3483-9316a199-11e3-44e8-aaea-a8ab1ca87cb1"
   "3777-b28b22df-9be3-4573-b32a-3958c0c5ebd0"
   "2423-5b6c7298-dc2b-43c1-8266-929730311695"]
  :execute-instruction-input-id
  ["0-505c3bba-18b3-4120-b2e5-5ae50e13caab"
   "1-45c3edee-d7d0-4d04-8f30-e3c97752a437"
   "0-7206692f-de2a-4bbb-8083-f7bbe2f2b4f5"
   "1-4e6c3e78-7904-4540-86d0-9a71b6a25ecc"
   "0-79d18037-e408-4dcb-98cf-2706e81460b4"
   "2-611a9a2a-550d-4321-90f2-001cee5a9cf6"
   "0-ae89f3df-196b-4ea0-ac2b-069b1d63414e"
   "2-84adbcac-a056-48a5-b46a-d42dfe7cf547"]}}